@page "/"

<h1 class="text-danger"></h1>

<h1>How to persist pivot table reports settings ?</h1>

<p>With my provided code, please use FetchData.razor as an example. </p>

<p>
    The objectif is to persit user configurations of pivot table reports. The persitence should be by browser tab.

    First, User create a bunch of reports.

    Then User should see the last report he has seen, when:
    1. user refresh the browser tab <br/>
    2. user navigates to other page then come back to the page containing the pivot table.
</p>

<h2> I) State persistence does not seems working. </h2>
<p> I might missed something. https://blazor.syncfusion.com/documentation/pivot-table/state-persistence
    Even this works, as this stores the state in cookies, this won't allows to achieve objectif per browser tab</p>

<h2>II) Using Browser Session Sotrage.</h2>
<p>
    Normally this feature can be achieved by Browser Session Storage.
    But I can't see how to use `SfPivotView` API to Set `CurrentReport`.
</p>

<p>
    <b> I have already achieved save reports configs in an databse and reload them. 
        So saving current ReportName in session storage then CALL A SYNCFUSION PIVOT TABLE API, IF IT EXISTS, TO RELOAD THE REPORT ATTACHED TO THAT REPORT NAME
        will do the trick</b>
</p>
