@using Microsoft.Extensions.Logging
@inherits LayoutComponentBase
@inject ILogger<MainLayout> Logger

<div class="sidebar">
    <NavMenu  />
</div>

<div class="main">
    <div class="top-row px-4">
    
        <EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
            <InputText id="name" @bind-Value="exampleModel.Name" />
            <button type="submit">Submit</button>
        </EditForm>
        
        <CascadingValue Value="@exampleModel.Name" Name="FruitName">
           <Fruit></Fruit>
        </CascadingValue>
        
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code {
    int TheAnswer = 42;
    string FruitName { get; set; }
    string SecondFruitName { get; set; } 

    private readonly ExampleModel exampleModel = new();
    
    int FruitCount { get; set; } = 111;
    
    public class ExampleModel
    {
        private string name;
        public string Name
        {
            get => name;
            set => name = value;
        }
    }

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
    }
}
